<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Floral Admin - User</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME STYLE  -->
    <link href="stylesheets/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- DATATABLE STYLE  -->
    <link href="javascripts/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="stylesheets/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>
<body>
    <% include ../../partials/header.ejs %>
     <!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">QUẢN LÝ NGƯỜI DÙNG</h4>
            </div>

        </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel">
                        <div class="panel-heading header-panel">
                             Danh sách người dùng
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="style-middle-center">Họ Tên</th>
                                            <th class="style-middle-center">Địa chỉ</th>
                                            <th class="style-middle-center">Số điện thoại</th>
                                            <th class="style-middle-center">Email</th>
                                            <th class="style-middle-center">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="style-middle-center user-name">Phú Duy</td>
                                            <td class="style-middle-center user-address">Q8, TP.HCM</td>
                                            <td class="style-middle-center user-phone">123456789</td>
                                            <td class="style-middle-center center user-email">abc@gmail.com</td>
                                            <td class="style-middle-center">
                                                <a class="open-dialog" data-toggle="modal" data-target="#myModal"
                                                    data-id="12345" style="text-decoration: none">
                                                    <button class="btn btn-outline-primary" type="button">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>
                                                <a href="/user/detele?id=">
                                                    <button class="btn btn-outline-primary" type="button">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
                <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-6">
                    <!--    Context Classes  -->
                    <div class="panel panel-default">

                        <div class="panel-heading" style="background-color: #ffde02; font-weight: bold;">
                            Khách hàng mua nhiều nhất
                        </div>

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Họ tên</th>
                                        <th>Số điện thoại </th>
                                        <th>Địa chỉ</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Phú Duy</td>
                                        <td>123456789</td>
                                        <td>Q8, TP.HCM</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Thanh Hương</td>
                                        <td>456789998</td>
                                        <td>Q1, TP.HCM</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Quang Huân</td>
                                        <td>2334456576</td>
                                        <td>Quận Tân Phú, TP.HCM</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  end  Context Classes  -->
                </div>
                <div class="col-md-6">
                     <!--    Hover Rows  -->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #3ac4a0; font-weight: bold;">
                            Khách hàng mới
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Họ tên</th>
                                            <th>Số điện thoại</th>
                                            <th>Địa chỉ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <td>1</td>
                                        <td>Phú Duy</td>
                                        <td>123456789</td>
                                        <td>Q8, TP.HCM</td>
                                    </tr>
                                        <td>2</td>
                                        <td>Thanh Hương</td>
                                        <td>456789998</td>
                                        <td>Q1, TP.HCM</td>
                                    </tr>
                                        <td>3</td>
                                        <td>Quang Huân</td>
                                        <td>2334456576</td>
                                        <td>Quận Tân Phú, TP.HCM</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End  Hover Rows  -->
                </div>

            </div>
                <!-- /. ROW  -->
    </div>
    </div>
     <!-- CONTENT-WRAPPER SECTION END-->
    <% include ../../partials/footer.ejs %>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <form class="edit-form" method="POST">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header header-panel">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel" style="font-weight: bold">Chỉnh sửa thông tin khách hàng</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-log-12">
                        <div class="form-group row">
                            <label class="col-lg-2 col-md-2 col-form-label">Họ tên</label>
                            <div class="col-lg-10 col-md-10">
                                <input class="form-control ng-untouched ng-pristine ng-valid fullname" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-md-2 col-form-label">Địa chỉ</label>
                            <div class="col-lg-10 col-md-10">
                                <input class="form-control ng-pristine ng-valid ng-touched address" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-md-2 col-form-label">Số điện thoại</label>
                            <div class="col-lg-10 col-md-10">
                                <input class="form-control ng-pristine ng-valid ng-touched phone-number" type="number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-md-2 col-form-label">Email</label>
                            <div class="col-lg-10 col-md-10">
                                <input class="form-control ng-pristine ng-valid ng-touched email" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            </div>
        </div>
        </form>
    </div>
      <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="javascripts/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="javascripts/bootstrap.js"></script>
    <!-- DATATABLE SCRIPTS  -->
    <script src="javascripts/dataTables/jquery.dataTables.js"></script>
    <script src="javascripts/dataTables/dataTables.bootstrap.js"></script>
      <!-- CUSTOM SCRIPTS  -->
    <script src="javascripts/custom.js"></script>

    <script>
            $(".open-dialog").click(function () {
                var name = $(".open-dialog").parent().parent().find(".user-name").text();
                var address = $(".open-dialog").parent().parent().find(".user-address").text();
                var phone = $(".open-dialog").parent().parent().find(".user-phone").text();
                var email = $(".open-dialog").parent().parent().find(".user-email").text();
                var id = $(".open-dialog").data("id");
                var ref = "user/edit?id=" + id;
                $(".fullname").val(name);
                $(".address").val(address);
                $(".phone-number").val(phone);
                $(".email").val(email);
                $(".edit-form").attr('action', ref);
            })
    </script>
</body>
</html>
