<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>FREE RESPONSIVE HORIZONTAL ADMIN</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME STYLE  -->
    <link href="stylesheets/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="stylesheets/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>
<body>
    <%include ../../partials/header.ejs%>
     <!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line"> QUẢN LÝ CỬA HÀNG</h4>
            </div>
            <span class="col-md-12 input-group-prepend" style="text-align: right">
                <span>Thêm cửa hàng</span>
                <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-plus-square"></i>
                </button>
            </span>
        </div>
           <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="panel" data-toggle="modal" data-target="#myModal">
                        <div class="panel-heading header-panel">
                            Floral Store Nguyễn Văn Cừ
                        </div>
                        <div class="panel-body" style="text-align: center">
                            <img class="img-store" src="images/store1.jpg">
                        </div>
                        <div class="panel-footer">
                            231 Nguyễn Văn Cừ, phường 4, quận 5, TP.HCM
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel" data-toggle="modal" data-target="#myModal">
                        <div class="panel-heading header-panel">
                            Floral Store Trần Hưng Đạo
                        </div>
                        <div class="panel-body" style="text-align: center">
                            <img class="img-store" src="images/store2.jpg">
                        </div>
                        <div class="panel-footer">
                            135 Trần Hưng Đạo, phường 4, quận 1, TP.HCM
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel" data-toggle="modal" data-target="#myModal">
                        <div class="panel-heading header-panel">
                            Floral Store Thảo Điền
                        </div>
                        <div class="panel-body" style="text-align: center;">
                            <img class="img-store" src="images/store3.jpg">
                        </div>
                        <div class="panel-footer">
                            Vincom Thảo Điền, 161 XLHN, quận 2, TP.HCM
                        </div>
                    </div>
                </div>
            </div>
                   <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="panel" data-toggle="modal" data-target="#myModal">
                        <div class="panel-heading header-panel">
                            Floral Store Lương Nhữ Hộc
                        </div>
                        <div class="panel-body" style="text-align: center">
                            <img class="img-store" src="images/store4.jpg">
                        </div>
                        <div class="panel-footer">
                            112 Lương Nhữ Hộc, Hải Châu, TP.Đà Nẵng
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel" data-toggle="modal" data-target="#myModal">
                        <div class="panel-heading header-panel">
                            Floral Store Âu Cơ
                        </div>
                        <div class="panel-body" style="text-align: center">
                            <img class="img-store" src="images/store5.jpg">
                        </div>
                        <div class="panel-footer">
                            567 Âu Cơ, phường 2, TP.Hà Nội
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel" data-toggle="modal" data-target="#myModal">
                        <div class="panel-heading header-panel">
                            Floral Store Trường Chinh
                        </div>
                        <div class="panel-body">
                            <img class="img-store" src="images/store6.jpg">
                        </div>
                        <div class="panel-footer">
                            32E/120 Trường Chinh, phường Thanh Xuân, quận Hoàn Kiếm, Hà Nội
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
     <!-- CONTENT-WRAPPER SECTION END-->
    <%include ../../partials/footer.ejs%>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header header-panel">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel" style="font-weight: bold">Thông tin cửa hàng</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group row">
                            <label class="col-lg-2 col-md-2 col-form-label">Tên</label>
                            <div class="col-lg-10 col-md-10">
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-md-2 col-form-label">Địa chỉ</label>
                            <div class="col-lg-10 col-md-10">
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <label class="col-form-label">Hình ảnh</label>
                        <div class="form-group">
                            <section class="thumbnail-container">
                                <div class="thumbnail-container--content image-box" for="image-upload">
                                    <input accept="image/jpeg, image/gif, image/png" id="image-upload" multiple="" style="display: none;" type="file">
                                    <label class="style-pointer" for="image-upload" style="max-height: 100%; max-width: 100%">
                                        <img class="img-dialog" src="images/imageHolder.png">
                                    </label>
                                </div>
                            </section>
                        </div>
                        <div class="form-group">
                            <label>Mô tả</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="javascripts/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="javascripts/bootstrap.js"></script>
      <!-- CUSTOM SCRIPTS  -->
    <script src="javascripts/custom.js"></script>
</body>
</html>
